# Получить бесплатный API ключ: https://www.themoviedb.org/settings/api
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkNDAzZDBjODUwNDk1OGJiYWFjMzZjMzliNGEzOWUyMyIsIm5iZiI6MTc1NzY0NDM1Ni4wNDMsInN1YiI6IjY4YzM4NjQ0NzQ4ZmZmNDljZmZmYzJjNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.JoeYuWdqdM99xKV6A-jg9ogk5Q3GBfNhpzg9ohcu_Eg
